{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
<div class="header">
    <h1>O mnie</h1>
    <p>
        Cześć! Mam na imię Karolina. Jestem absolwentką Politechniki Wrocławskiej. Skończyłam automatykę i robotykę oraz mechatronikę.<br>
        Po studiach postanowiłam zająć się rozwijaniem umiejętności programistycznych.<br>
        Aktualnie po godzinach zajmuję się nauką programowania w języku Python i jego zastosowań w uczeniu maszynowym i analizie danych.<br>
    </p>
</div>

<div class="row">
    <div class="column">
      <h2 style="text-align: center;">Nauka programowania</h2>
      <img src = "{{ url_for('static', filename='programming_learning.jpg') }}" title="source: https://www.roberthalf.com.sg/blog/jobseekers/what-best-programming-language-learn-year" style="display: block; margin-left: auto; margin-right: auto; width: 90%;">
    </div>
    
    <div class="column">
      <h2 style="text-align: center;">Python</h2>
      <img src = "{{ url_for('static', filename='python_imag.jpg') }}" title="https://realpython.com/learning-paths/python3-introduction/" style="display: block; margin-left: auto; margin-right: auto; width: 90%;">
    </div>
    
    <div class="column">
      <h2 style="text-align: center;">Machine Learning</h2>
      <img src = "{{ url_for('static', filename='machine_learning.jpg') }}" title="source: https://towardsdatascience.com/a-journey-into-supervised-machine-learning-f26f238b0477" style="display: block; margin-left: auto; margin-right: auto; width: 90%;">
    </div>
  </div>
{% endblock %}